body {
    font-family: 'Poppins', sans-serif;

    .container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        justify-content: center;
        align-items: center;

        .block__image {
            display: flex;
            align-items: center;
            border-radius: 10.5rem;
            position: relative;

            .image__block {
                width: 28.75rem;
                height: 38.5rem;
                margin: 0 -3.375rem 0 -0.75rem;
                position: absolute;
            }
        }

        .block__form {
            background-image: url('./static/icons/frame.svg');
            border-radius: 5.3125rem 0rem 0rem 6rem;
            min-height: 100%;

            .conatiner__form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .form__section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

}